.message-box{data: {message: {id: message.id}}}
  .message-box__top-contents
    .message-box__top-contents--poster-name
      = message.user.name
    .message-box__top-contents--post-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-box__lower-message
    - if message.content.present?
      %p.message-box__lower-message__content
        = message.content
    = image_tag message.image.url, class: "message-box__lower-message__image" if message.image.present?